<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044125215313-lt94j311gn9rb4lqsfpk0uc976kuv92i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044125215313-lt94j311gn9rb4lqsfpk0uc976kuv92i</string>
	<key>API_KEY</key>
	<string>AIzaSyCy4ULlf-m438_XJYMqRrTNyTkmzSXxsec</string>
	<key>GCM_SENDER_ID</key>
	<string>1044125215313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dzenApp</string>
	<key>PROJECT_ID</key>
	<string>dzen-app-99c89</string>
	<key>STORAGE_BUCKET</key>
	<string>dzen-app-99c89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044125215313:ios:7de574354778a565d76670</string>
</dict>
</plist>